.form{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    width: 100%;
    font-family: Roboto;
    position: relative;
}

.input{
    outline: 0;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 0;
    height: 100%;
    width: calc(100% - 90px);
    text-transform: uppercase;
}

.submit_button{
    outline: 0;
    border: 1px solid var(--border);
    background-color: var(--bg-secondary);
    border-radius: 4px;
    font-size: 16px;
    padding-block: 6px;
    width: 80px;
    cursor: pointer;
    transition: 300ms;
}

.submit_button:hover{
    background-color: #dcdbdb;
    transform: scale(1.07);
}

.error_massage{
    color: var(--error);
    width: 100%;
    position: absolute;
    bottom: -28px;
    left: 1px;
}